@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Playfair+Display&display=swap");

:root {
  font-size: 1vmin;
}

* {
  box-sizing: border-box;
}

html,
body,
main {
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

header,
footer {
  display: grid;
  grid-template-columns: 10vmin auto 10vmin;

  width: 100vw;
  min-height: 14rem;

  > div {
    &:nth-of-type(1) {
      grid-column: 1;
    }

    &:nth-of-type(2) {
      grid-column: 3;
    }
  }
}

header > div {
  border-bottom: 1px solid black;
}

footer > div {
  border-top: 1px solid black;
}

footer {
  margin-top: 10vmin;
  // border-top: 1px solid black;

  > div {
    &:nth-of-type(1) {
      grid-column: 2;
    }

    // &:nth-of-type(2) {
    //   grid-column: 3;
    // }
  }
}

h1 {
  padding-bottom: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14rem;
}

main {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  grid-row-gap: 5vmin;
  justify-items: center;

  // padding: 10vmin;
  padding-top: 0;
  font-family: "Playfair Display", serif;
}

.photo {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50vmin;
  height: 50vmin;

  transform-style: preserve-3d;

  &:hover {
    .photo_image {
      filter: grayscale(0);
    }
  }

  &_image,
  &_frame,
  h2 {
    position: absolute;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    transition: all 1s linear; //cubic-bezier(0.32, 0, 0.23, 1);
  }

  &_image,
  &_frame {
    width: 60%;
    height: 60%;
  }

  &_image {
    filter: grayscale(1);

    background-position: center;
    background-size: cover;
    // transform: rotate(-20deg) translate3d(-10%, -15%, 0);
    // transform: translate3d(9.7px, -9.8px, 0px);
  }

  h2 {
    bottom: 0rem;
    padding: 1rem;
    margin: 0;

    font-size: 4rem;

    border: 1px solid black; //hsla(0, 0%, 0%, 0.2);
    border-collapse: separate;
    border-spacing: 0px;
  }
}
