@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 90px;

  padding: 0 100px;
  border-bottom: 3px solid black;

  background-color: white;
  transition: all 5s linear;

  .logo {
    position: relative;
  }

  .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: black;

    color: white;
    font-size: 2rem;
  }

  nav ul {
    display: flex;

    list-style: none;

    a {
      margin: 0 20px;

      font-size: 2rem;
    }
  }

  &.angry {
    background-color: red;
    border: 10px solid black;
    height: 200px;

    transition: all 6s linear;
  }

  &.elastic {
    transition: height 0.1s linear;
  }

  &.invisible {
    opacity: 0;
  }
}

.page {
  padding-top: 90px;
}

.speech-bubble {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 20px;

  transform: translate3d(0, 100%, 0);

  background-color: white;
  border: 3px solid yellow;

  visibility: hidden;
  white-space: nowrap;

  &_buttons {
    display: none;

    &.show {
      display: block;
    }
  }

  &.show {
    visibility: visible;
  }
}

.page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  grid-row-gap: 10vmin;
  justify-items: center;

  margin: 40px 0;
}

.page-main {
  > div {
    width: 20vw;
    height: 40vh;

    background-color: gray;
  }
}
